.custom-footer {
  background-color: black; /* Set the background color */
  color: white; /* Set text color */
  padding: 20px; /* Adjust padding as needed */
  width: 100%;
  position: fixed;
  bottom: 0%;
  height: 179px;
}

.footer-content {
  /* Additional styling for the content within the footer */
  display: none;
}